@font-face {
	font-family: "Noto";
	src: url("../fonts/Noto_Sans_Display/NotoSansDisplay-VariableFont_wdth,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Noto";
	src: url("../fonts/Noto_Sans_Display/NotoSansDisplay-Italic-VariableFont_wdth,wght.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: "Source Code Pro";
	src: url("../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
#colophon, #masthead, .site-content {
	--content-width: 100%;
	--breakout-offset: 0px;
	display: block;
}
@media (min-width: 767px) {
	#colophon, #masthead, .site-content {
		--content-width: 550px;
		--breakout-offset: 75px;
	}
}
@media (min-width: 992px) {
	#colophon, #masthead, .site-content {
		--content-width: 700px;
		--breakout-offset: 125px;
	}
}
@media (min-width: 1200px) {
	#colophon, #masthead, .site-content {
		--content-width: 1024px;
		--breakout-offset: 88px;
	}
}
#colophon > *, #masthead > *, .site-content > * {
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

#colophon > *, #masthead > *, .site-content > * {
	width: var(--content-width);
}

#colophon > *, #masthead > *, .site-content > * {
	padding: 0 1rem;
}

body,
:root {
	font-family: "Noto", sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000000;
	word-break: break-word;
}
@media (min-width: 767px) {
	body,
	:root {
		font-size: 18px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Noto", sans-serif;
	font-weight: normal;
	font-variation-settings: "wght" 700;
	line-height: 1.2;
	margin: 0.25em auto;
}

h1 {
	font-size: 2.197rem;
}

h2 {
	font-size: 1.69rem;
}

h3 {
	font-size: 1.3rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.7692307692rem;
	text-transform: uppercase;
}

h6 {
	font-size: 0.7692307692rem;
	font-style: italic;
}

pre {
	white-space: pre-wrap;
	font-family: "Source Code Pro", monospace;
}

blockquote {
	margin: 0.5rem 1rem;
	padding: 0.5rem 1rem;
	background-color: #002244;
}
blockquote p {
	color: #ffffff;
	font-style: italic;
}
blockquote p em {
	font-style: normal;
}
blockquote p cite {
	display: block;
	font-weight: bold;
	text-align: right;
}
blockquote a {
	color: #ffffff;
	text-decoration: underline;
}
blockquote a:hover {
	text-decoration: none;
}

thead {
	background-color: #002244;
	color: #ffffff;
}

tbody tr:nth-of-type(even) {
	background-color: #004499;
	color: #ffffff;
}
tbody tr:nth-of-type(even) a {
	color: #ffffff;
	text-decoration: underline;
}
tbody tr:nth-of-type(even) a:hover {
	text-decoration: none;
}
tbody tr:nth-of-type(odd) {
	background-color: #ededed;
}
tbody tr:nth-of-type(odd) a {
	color: #002244;
	text-decoration: underline;
}
tbody tr:nth-of-type(odd) a:hover {
	text-decoration: none;
}

th,
td {
	padding: 0.25rem;
}

@media (min-width: 767px) {
	dl {
		display: grid;
		grid-template-columns: [term-start] 150px [term-end] 1rem [description-start] 1fr [description-end];
		row-gap: 0.5rem;
	}
}
dl dt {
	grid-column: term;
	font-weight: bold;
}
dl dd {
	grid-column: description;
}
@media (min-width: 767px) {
	dl dd {
		margin: 0;
	}
}

.site-content ul,
.site-content ol {
	padding-left: 2rem;
}

a {
	color: #002244;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

hr {
	width: calc(100% - 2rem);
}

q {
	font-style: italic;
}

/* Text meant only for screen readers. from 2017 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

.home .archive-title {
	padding-top: 1em;
	padding-bottom: 1em;
}

.posts article {
	margin-bottom: 0.5rem;
}

body,
:root {
	margin: 0;
}

#masthead {
	padding: 0.5rem 0;
}
#masthead .header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#masthead .site-title {
	width: 175px;
	margin: 0px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 27px;
	color: #000000;
}
#masthead .site-title a {
	color: #000000;
	text-decoration: none;
	font-weight: auto;
	font-variation-settings: "wght" 400;
}
#masthead .site-title a:hover {
	color: #004499;
}
#masthead .site-description {
	font-size: 0.8rem;
}
#masthead .mega-toggle-label {
	display: none !important;
	font-variation-settings: "wdth" 75;
}
@media (min-width: 767px) {
	#masthead .mega-toggle-label {
		display: block !important;
	}
}

main .navigation ol {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}

.site-content .tags {
	margin: 1em 0;
}

#colophon {
	margin-top: 2rem;
}
#colophon .copyright {
	margin-bottom: 1rem;
	text-align: center;
}

.fp-content-lists {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1rem;
	margin-bottom: 1rem;
}
.fp-content-lists .category-block {
	max-width: 100%;
}
.fp-content-lists .category-block a.wpmb-read-more {
	margin: 0.5rem 1rem;
}/*# sourceMappingURL=app.css.map */