#masthead {
	@extend %container;
	padding: 0.5rem 0;
	// background-color: $color-accent;

	.header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.site-title {
		width: 175px;
		text-transform: uppercase;
		font-variation-settings: "wght" 400;
		letter-spacing: 0.5px;
		font-size: 27px;
		// word-spacing: -1rem;
		color: $text-color;

		a {
			color: $text-color;
			text-decoration: none;

			&:hover {
				color: $color-accent-hover;
			}
		}
	}

	.site-description {
		font-size: 0.8rem;
	}

	.mega-toggle-label {
		display: none !important;
		font-variation-settings: "wdth" $header-text-width;

		@include bp("small") {
			display: block !important;
		}
	}
}
