#masthead {
	@extend %container;
	padding: 0.5rem 0;
	background-color: $color-accent;

	.header-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.site-name {
		text-transform: uppercase;
		// font-variation-settings: "wght" 400, "wdth" $header-text-width;
		letter-spacing: 1px;
		font-size: 32px;
		word-spacing: -1rem;
		color: $white;

		a {
			color: $white;
			text-decoration: none;
		}

		.site-name-heavy {
			font-variation-settings: "wght" 500, "wdth" $header-text-width;
		}
		.site-name-light {
			font-variation-settings: "wght" 300, "wdth" $header-text-width;
		}
	}

	.mega-toggle-label {
		display: none !important;
		font-variation-settings: "wdth" $header-text-width;

		@include bp("small") {
			display: block !important;
		}
	}
}
