.site-content {
	p:has(> iframe) {
		display: flex;
		justify-content: center;
	}

	p a:has(> img.alignright) {
		float: right;
	}

	p img.alignright {
		float: right;
		margin-left: 1rem;
	}
	p a:has(> img.alignleft) {
		float: left;
	}

	p img.alignleft {
		float: left;
		margin-right: 1rem;
	}

	.tags {
		margin: 1em 0;
	}
}
