// Color definitions.
$blue-dark: #002244;
$blue-medium: #004499;
$blue-light: #55aaff;
$red-dark: #820000;
$red-medium: #990000;

$white: #ffffff;
$black: #000000;

// Color assignments

$color-accent: $blue-dark;
$color-accent-hover: $blue-light;

$color-alert: $red-dark;
$color-alert-hover: $red-medium;

$text-color: $white;
$heading-color: $blue-light;
$anchor-color: $blue-dark;
$anchor-color-hover: $blue-medium;

$menu-color: $white;
$menu-color-hover: $blue-light;
