$font-body: "Poppins", sans-serif;
$font-heading: "Montserrat", sans-serif;
$font-menu: "Poppings", sans-serif;
$font-code: "Source Code Pro", monospace;

$header-text-width: 75; // Variable font size for header text.

$line-height: 1.4;
$line-height-heading: 1.2;

$font-weight: 400;
$font-weight-heading: 700;
$heading-weight: 700;
