%page-title {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: .5em;
	padding-bottom: .5em;
	font-family: $font-heading;
	font-weight: normal;
	font-variation-settings: "wght"$font-weight-heading;
	line-height: $line-height-heading;
	font-size: $heading1-size;
}
